@import "tailwindcss";

.box {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    background: skyblue;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    width: 200px;
    text-align: center;
}

.box.show {
    opacity: 1;
    transform: translateY(0px);
}

@keyframes bg-slide {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}